:root{

    --background:#0A0822;

    --card:#151133;

    --card-light:#231A4B;

    --pink:#FF2D8D;

    --cyan:#18D8D8;

    --yellow:#FFD53F;

    --white:#FFFFFF;

    --text:#B8B5D4;

    --border:#31265F;

    --success:#37E36A;

    --danger:#FF5A6E;

}